<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: LightCyan;
}

h1 {
  color: DodgerBlue;
  text-align: center;
  font-family: Arial;
}

p {
  font-family: Monaco;
  font-size: 20px;
  color: DodgerBlue;
}
</style>
</head>
<body>


</body>
</html>


