<!DOCTYPE html>
<html>
<head>
<style>

button {
background-color: #04AA6D;
font-size: 20px;
padding: 16px 16px;
border-radius: 4px;
border: 2px solid #04AA6D; /* Green */
}
</style>
</head>
<body>



</body>
</html>

